<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title><%= current_page.data.title || data.site.title %></title>

    <meta name="description" content="<%= current_page.data.description || data.site.description %>">
    <meta name="keywords" content="<%= data.site.keywords %>">
    <meta name="author" content="@wansaleh">

    <!-- Icons :D -->
    <link rel="apple-touch-icon" sizes="57x57" href="<%= imgurl('ico/apple-icon-57x57.png') %>">
    <link rel="apple-touch-icon" sizes="60x60" href="<%= imgurl('ico/apple-icon-60x60.png') %>">
    <link rel="apple-touch-icon" sizes="72x72" href="<%= imgurl('ico/apple-icon-72x72.png') %>">
    <link rel="apple-touch-icon" sizes="76x76" href="<%= imgurl('ico/apple-icon-76x76.png') %>">
    <link rel="apple-touch-icon" sizes="114x114" href="<%= imgurl('ico/apple-icon-114x114.png') %>">
    <link rel="apple-touch-icon" sizes="120x120" href="<%= imgurl('ico/apple-icon-120x120.png') %>">
    <link rel="apple-touch-icon" sizes="144x144" href="<%= imgurl('ico/apple-icon-144x144.png') %>">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= imgurl('ico/apple-icon-152x152.png') %>">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= imgurl('ico/apple-icon-180x180.png') %>">
    <link rel="icon" type="image/png" sizes="192x192"  href="<%= imgurl('ico/android-icon-192x192.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= imgurl('ico/favicon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="96x96" href="<%= imgurl('ico/favicon-96x96.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= imgurl('ico/favicon-16x16.png') %>">
    <link rel="manifest" href="<%= imgurl('ico/manifest.json') %>">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="<%= imgurl('ico/ms-icon-144x144.png') %>">
    <meta name="theme-color" content="#ffffff">

    <link href="/assets/css/site.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="<%= page_classes %>">

    <!-- Background -->
    <!-- <div class="bg-pattern bg-pattern-diag"></div> -->

<%= yield %>

    <script src="/assets/js/vendor.js"></script>
    <script src="/assets/js/site.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create','UA-48115213-3','auto');ga('send','pageview');
    </script>
  </body>
</html>
